<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4 routerLink="contactus">Contact Us</h4>
            <p>
              Kalusarai Hauzkhas <br>
              New Delhi, 110016<br>
              INDIA <br><br>
              <strong>Phone:</strong> +91 834 056 8104<br>
              <strong>Email:</strong> nseduconsultancy.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="team">Teams</a></li>
			  <li><i class="bx bx-chevron-right"></i> <a routerLink="testinomials">Testinomials</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
				<li><i class="bx bx-chevron-right"></i> <a routerLink="services">Services</a></li>
				<li><i class="bx bx-chevron-right"></i> <a routerLink="products">About Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="buy">Buy Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Self Mentoring</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe our newsletter for getting updates on mail.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>EduConsultancy</span></strong>. All Rights Reserved
        </div>
        
      </div>
    </div>
  </footer>

