<section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">
          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Samrat Nilesh</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Mechanical Engineer graduated from Nit silchar having good knowledge in the field of mathematics and guiding the children from past 3 years. Have a good knowledge of software domains as well and guide the upcoming engineering aspirants to choose a right carrer. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="testimonial-item mt-4 mt-lg-0">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sarah Rahman</h3>
            <h4>Designer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Electrical Engineer graduated from Nit silchar having good knowledge in the field of designing and guiding the children from past 3 years. Have a good knowledge of software domains as well and guide the upcoming engineering aspirants to choose a right carrer. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="testimonial-item mt-4">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Nitish Kumar</h3>
            <h4>Product Manager</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Mechanical Engineer graduated from Nit Allahabad having good knowledge in the field of physics and guiding the children from past 3 years. Have a good knowledge of software domains as well and guide the upcoming engineering aspirants to choose a right carrer. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="testimonial-item mt-4">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Abhishek Kumar</h3>
            <h4>CTO</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Doctor graduated from Aims Bhuvneshwar having good knowledge in the field of biology and guiding the children from past 3 years. Have a good knowledge of doctor domains as well and guide the upcoming doctor aspirants to choose a right carrer. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="testimonial-item mt-4">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>Rajan Singh</h3>
            <h4>Accountant</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Mechanical Engineer graduated from Nit silchar having good knowledge in the field of chemistry and guiding the children from past 3 years. Have a good knowledge of software domains as well and guide the upcoming engineering aspirants to choose a right carrer. 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
