<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Team</strong></h2>
        <p>We belive on team and they are one of the best mentor who encurages and help you to clear all the hurdels. they will will be always available for you 24/7 for your personal guidance. All are from well qualified institute and have masters on their discipline.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/samrat.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Samrat Nilesh</h4>
              <span>Chief Executive Officer</span>
              <span>Mathematic Mentor</span>
              <span>NIT SILCHAR</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/nitish.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Nitish Kumar</h4>
              <span>Product Manager</span>
              <span>Physics Mentor</span>
              <span>NIT ALLAHBAD</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/abhishek.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Abhishek kumar</h4>
              <span>CTO</span>
              <span>Biology Mentor</span>
              <span>AIMS BHUVNESHWAR</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/rajan.jpg" class="img-fluid" alt="">
             
            </div>
            <div class="member-info">
              <h4>Rajan Singh</h4>
              <span>Accountant</span>
              <span>Chemistry Mentor</span>
              <span>NIT SILCHAR</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

