<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
          <h2>Educational Consultancy </h2>
          <h3>"An investment in knowledge pays the best interest"</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
          <p>
            We are bunch of people from IITs, NITs and AIIMS with experience of 5 + years in helping people in JEE MAINS, 
            JEE ADVANCE, NEET and AIIMS Counselling. 
            Our Knowledge helped people to successfully transition from core and Software backgrounds to Data Science. 
            Our employees are National level winners in Electric Vechile Compettitions, employees of Big Corporate 
            Companies and Doctors. 
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Guiding the aspirant for free.</li>
            <li><i class="ri-check-double-line"></i> Organising online seminar for their doubts and question.  </li>
            <li><i class="ri-check-double-line"></i> Preparing them mentally for the exams. </li>
          </ul>
          <p class="fst-italic">
            Students are our first prioritry and guiding them give us the best feeling. 
          </p>
        </div>
      </div>

    </div>
  </section>
