<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Online Guidance</li>
              <li>Online Doubt Clear</li>
              <li class="na">No Pro Benefits</li>
              <li class="na">No Premius Benefits</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink="buy" >Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
            <h3>PCM PRO</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>PCM Individual Tutor</li>
              <li>Individual Tutor for Each Subject</li>
              <li>Weekly Motivational lecture</li>
              <li class="na">No Offline Content</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink = "testinomials" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box featured">
            <h3>PCB PRO</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>PCB Individual Tutor</li>
              <li>Individual Tutor for Each Subject</li>
              <li>Weekly Motivational lecture</li>
              <li class="na">No Offline Content</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink ="buy" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <span class="advanced">Advanced</span>
            <h3>PREMIUM</h3>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <ul>
              <li>All Pro Benefits</li>
              <li>Offline Contents Available</li>
              <li>24/7 Doubt Clear</li>
              <li>Daily Motivational Guidance</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink="buy" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
