<mat-toolbar>
    <h1 class="logo me-auto"><a ><mat-icon>eco</mat-icon><span>Edu</span>Consultancy</a></h1>

    <div class = "spacer"></div>

    <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLink="home" class="active">Home</a></li>

          <li class="dropdown"><a ><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="aboutus">About Us</a></li>
              <li><a routerLink = "team">Team</a></li>
              <li><a routerLink = "testinomials">Testimonials</a></li>
            </ul>
          </li>

          <li class="dropdown"><a ><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="products">About Product</a></li>
              <li><a routerLink = "buy">Buy Products</a></li>
            </ul>
          </li>
          
          <li><a routerLink = "services">Services</a></li>
          
          <li><a routerLink= "contactus">Contact</a></li>

        </ul>
      </nav>
    </mat-toolbar>
